.DS_Store
.gradle
*.yaml
**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
scripts/out/
**/secrets/

### VS Code ###
.project
.settings

/frontend/server/node_modules/

scripts/setup-env-variables-azure.sh
scripts/setup-env-variables-azure-mysql.sh

ad.json
sso.json