.App-header {
  background-color: #282c34;
}

.App-header .content.hidden {
  position: absolute!important;
  top: 50%!important;
  transform: translateY(-50%)!important;
  margin-top: 0!important;
}

.card.ui .content .green.button {
  background-color: #67B547!important;
  color: #fff!important;
  font-weight: bold;
}

.card.ui .content .green.button:hover {
  background-color: #7EDC57!important;
  box-shadow: none!important;
}

.card.ui {
  border-radius: 1rem!important;
  box-shadow: 0px 0px 15px 0px #dfdfdf!important;
}

.card .content {
  text-align: left;
  position: relative;
}

.card .content img {
  border-radius: 1rem 1rem 0 0!important;
}

.card .content .header {
  margin-top: 215px!important;
  font-weight: 700;
  font-size: 22px!important;
  font-family: 'Quicksand', sans-serif!important;
}

.ui.card .content {
  padding: 0!important;
}

.ui.card .content > div {
  padding: 0 20px!important;
}

.card .content > div.pending {
  padding: 10px 20px!important;
} 

.card .content .button {
  margin: 10px 0 20px;
}

.description {
  margin-bottom: 20px;
}

.ui.card .content img {
  position: absolute;
  clip: rect(0px,290px,200px,0px);
  margin-left: 0!important;
}

.carousel .control-dots {
  padding-left: 0px;
}

.carousel.carousel-slider {
  margin: 0 auto 30px;
}

/* Mobile-only */

@media (max-width: 600px) {
  .App-header {
    position: relative;
    height: 60px;
  }

  .App-header .button {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
  }

  .App-header img {
    position: absolute;
    clip: rect(0px,50px,35px,0px);
    top: 13px;
    left: 10px;
  }
}

/* Desktop-only */

@media (min-width: 600px) {
  .App {
    text-align: center;
  }

  .App-header {
    box-shadow: 0px 0px 15px 0px #dfdfdf;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-header img {
    order: 0;
  }

  .App-body{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 968px;
    margin: 0 auto;
  }

  .header-buttons {
    order: 1;
    flex-grow: 2;
    text-align: right;
  }

  .App-link {
    color: #61dafb;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

/* Carousel */

  .carousel.carousel-slider {
    height: 200px;
    position: relative;
    max-width: 900px;
    margin: 30px auto;
  }

  .slider {
    height: 100%;
  }

  .carousel .control-dots {
    margin: 10px 0 20px;
  }

  .carousel .thumbs-wrapper {
    margin: 10px 0 50px;
  }

  .carousel .slide {
    background: transparent;
  }

  .slide > div {
    height: 100%;
  }

  .carousel .slide img {
    width: 100% ;
    vertical-align: middle;
  }
}
