.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1vh;
}

.App-body{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 120vh;
  margin: auto;
  padding: 1vh;
}

.App-link {
  color: #61dafb;
}
